
.ac-hero-overlay,
.ac-video-overlay {
	background-color: #EE3268;/* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #EE3268);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #EE3268); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ac-primary-btn:hover,
.ac-primary-btn:focus,
.ac-copy-right a:hover,
.ac-copy-right a:focus,
.ac-send-msg-btn:hover,
.ac-send-msg-btn:focus,
.ac-faq-content .panel-title a:hover,
.ac-faq-content .panel-title a:focus,
.ac-faq-content .panel-title a[aria-expanded="true"],
.ac-faq-content .panel-title a>span,
.ac-menu ul li a:hover,
.ac-menu ul li a:focus,
.ac-single-speakers-info p,
.ac-single-speakers-social li a:hover,
.ac-single-speakers-social li a:focus,
.ac-logo,
.ac-logo:hover,
.ac-logo:focus,
#ac-hero .navbar-default .navbar-brand,
.ac-navbar .ac-menu li a:hover,
.ac-navbar .ac-menu li a:focus,
.ac-single-event .ac-event-time {
	color: #EE3268;
}

.ac-speakers-slider .slick-next,
.ac-speakers-slider .slick-prev,
#ac-venue,
.ac-popular-price .ac-price-tag,
.ac-navbar .navbar-toggle,
.ac-navbar .navbar-toggle:hover,
.ac-navbar .navbar-toggle:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.ac-schedule-menu li a:hover,
.ac-schedule-menu li a:focus,
.ac-schedule-menu li.active a,
.ac-schedule-menu li.active a:hover,
.ac-schedule-menu li.active a:focus {
	background-color: #EE3268;
}

.ac-social-media a:hover,
.ac-social-media a:focus {
	border: 1px solid #EE3268;
	color: #EE3268;
}

.ac-contact-form .form-control:focus,
.ac-schedule-menu li a {
	border: 1px solid #EE3268;    
} 

.ac-send-msg-btn,
.ac-send-msg-btn:focus,
.ac-register-btn:hover,
.ac-register-btn:focus,
.ac-popular-price .ac-register-btn {
	border: 1px solid #EE3268;
	background-color: #EE3268;
}

.ac-faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EE3268;

}

.ac-reg-submit-btn:hover,
.ac-reg-submit-btn:focus {
	background-color: #EE3268;
	border: 2px solid #EE3268;
}